
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
}
header,
main,
footer {
  max-width: 1000px;
  margin: 1rem auto;
  border: 1px solid #ccc;
  padding: 1rem;
  background-color: lightblue;
}
h1 {.hide {
    display: none;
}
    text-align: center;
}
section {
  padding: 20px;
  background-color: white;
  margin: 1em;
  border: 1px solid #ccc;
}
.menu a {
    padding: 20 px;
    color: black;
    display: block;
    text-decoration: none;
    border-top: 1px solid gray;
    text-align: center;
}
nav a {
    padding: 20px;
    color: black;
    display: none;
}
nav a:hover {
    text-decoration: none;
    color: #616061;
}
.menu-btn {
    cursor: pointer;
    border: none;
    background-color: transparent;
}
.hide {
    display: none;
}
.bar1, .bar2, .bar3 {
    width: 30px;
    height: 4px;
    background-color: black;
    margin: 5px 0;
    transition: 0.4s;
}
footer {
    text-align: center;
}

.change .bar1 {
  transform: translate(0, 11px) rotate(-45deg);
}
.change .bar2 {opacity: 0;}

.change .bar3 {
  transform: translate(0, -8px) rotate(45deg);
}
          
footer {
    text-align: center;
}

@media screen and (min-width: 700px) {
    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }  
    .menu-btn {
        display: none;
    }
    .menu a {
        color: black;
        display: inline;
        text-decoration: none;
        border-top: 0px;
        text-align: right;
    }
    .hide {
        display: inline-flex;
    }
    .menus {
        text-align: right;
    }
}

@media screen and (min-width: 1000px) {
    main {

        grid-template-columns: 1fr 1fr 1fr;
    }
    header,
    main,
    footer {
        max-width: 100%;
    }
}
                