body {
    background-color: rgb(228, 228, 228);
    text-align: center;
    margin: 0 auto;
    justify-content: center;
}
p {
    color: rgb(45, 104, 194);
    font-size: 21px;
}
hr {
    border-color: blue;
    width: 50%;
}
img {
    width: 30%;
}
li {
    list-style-type: none;
    padding: 15px;
    text-align: center;
    font-size: 20px;
}
.list {
    text-align: right;
    
}

.navigation {
    margin: 30px;
}

a {
    background-color: rgb(234, 152, 166);
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
    color: white;
}
a:hover {
    background-color: pink;
}

.ul {
    margin: 100px;
}