.content {
    margin: 0 auto;
    max-width: 600px;
    border: 1px solid black;
    padding: 100px;
    line-height: 1.5;
}
h1 {
    font-size:40px;
    font-weight: 400;
    margin-bottom:-5px;
}
h1, h2 {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .2rem;
}
h2 {
    color:#006EB6;
    font-weight: 100;
    font-size: 15px;
}
hr {
    margin-top: -12px;
    margin-bottom: 40px;
}
p, li, {
    font-size: 20px;
}
li {
    margin-bottom: 25px;
}
footer {
    justify-content: center;
    text-align: center;
}
.logo {
    width: 150px;
}