#myElement {
    width: 200px;
    height: 100px;
    border: 1px solid black;
}
.highlight {
    background-color: yellow; /* The class you want to add */
}
.pink {
    background-color: rgb(255, 0, 132); /* The class you want to add */
}
