@import url('template.css');

.hero-section {
    background-size: cover;
    display: flex;
    flex-direction: column;
    gap: 30px;
    color: white;
    padding: 40px;
    text-align: left;
    font-size: 1.5em;
}
.hero-section a {
    background-color: var(--primary-color);
    padding: 10px 20px;
    border-radius: 100px;
    color: black;
    width: 200px;
    align-content: center;
}
.hero-section a:hover {
    background-color: var(--accent1-color);
}
.hide {
    display:none;
}
@media (min-width: 700px) {
    .hero-section {
        padding: 150px;
    }

};