body {
    background-color: rgb(228, 228, 228);
    text-align: center;
    justify-content: center;
    margin: 0 auto;
    margin:100px;
    border: 1px solid gray;
    padding: 40px;
}
p {
    color: rgb(45, 104, 194);
    font-size: 21px;
}
hr {
    border-color: blue;
    width: 50%;
}
img {
    width: 30%;
}
li {
    list-style-type: none;
}
.list {
    text-align: justify;
}
#topics {
    text-align: center;
    width: 30%;
    margin: auto;
}
.labels {
    text-align: left;
}