@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100..900&display=swap');

body {
    margin: 0 auto;
    font-family: "Poppins";
}
header {
    text-align: center;
    font-family: "Roboto Slab";
}
nav ul{
    display: flex;
    height: 25px;
    list-style-type: none;
    gap: 30px;
    padding: 20px;
    justify-content: right;
    background-color: #F2DC5D;
    color: black;
}
a {
    text-decoration: none;
}
a:hover {
    color: white;

}
.grid {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
}
.column-one {
    max-width: 25%;
    border-right: 3px solid green;
    height: 500px;
}
.information {
    margin: 20px;
}
.column-two {
    max-width: 50%;
}
.book-cover {
    max-width: 250px;
}
.column-three {
    max-width: 25%;
}

